.logo{
  width: 100px;
}
.header{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.nav-items>ul{
  display: flex;
  list-style-type: none;
  font-size: 22px;
}

.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
}

.res-card{
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 8px;
}

.res-logo{
  width: 195px;
  padding: 4px;
}

.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}